body{
    font-family: 'Martel Sans', sans-serif;

}
nav{
    background-color: #2F9A16;
}
.footer-copyright{
    background-color: #2F9A16;
    text-align: center;
    font-size: small;
}
a{
    color: white;
}
.btn{
background-color: #2F9A16;
}
.post{
  font-weight: bolder;
  font-size: larger;
}
.pic{
    height: 300px;
    width: 300px;
}
.row{
    text-align: center;
}